# Arquivos de configuração do GameMaker
*.yyp.backup
*.yyp.tmp
*.yyproj.backup
*.yyproj.tmp

# Pastas temporárias e caches
.cache/
backup/
*.log

# Arquivos de build/exportação
*.exe
*.dll
*.apk
*.ios
*.zip
*.gmz

# Pastas de exportação ou builds locais
Build/
Exports/
*.tmp

# Arquivos de autosave e backups do GameMaker Studio
*.autosave
*.tmp
*.bak

# MacOS
.DS_Store

# Windows
Thumbs.db
*.gml
